body {
    margin: 0;
    padding: 0;
    border: 0;
}

#content {
    width: 800px;
    box-sizing: border-box;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
}

p {
    margin: 2px;
}

.content_half_vertical {
    flex-grow: 1;
    margin-top: 10px;
}

#content_body {
    display: flex;
    flex-direction: row;
}

.content_half_horizontal {
    flex-grow: 1;
    margin: 0 10px;
}

.center_text {
    text-align: center;
}
