body {
  margin: 0;
  padding: 0;
  border: 0;
}

#content {
  box-sizing: border-box;
  margin: 20px auto;

  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

.about-img {
  width: 120px;
  height: 160px;
  border: 1px solid black;
}

p {
  margin: 2px;
}

.content_half_vertical {
  flex-grow: 1;
  margin-top: 10px;
}

#content_body {
  display: flex;
  flex-direction: row;
}

.content_half_horizontal {
  flex-grow: 1;
  margin: 0 10px;
}
