{% extends 'index.html' %} {% block head %}
<link rel="stylesheet" href="../../resources/css/about_aadi.css" /> {% endblock %}
{% block body %}

<div class="container-fluid margin-top-5">

    <div class="flex-display-column align-items-center">
        <div id="name_position_div">
            <div id="nameDiv">
                <h2><b>Aaditya Chokshi</b></h2>
            </div>
            <div id="position">
                <h3>FrontEnd Team Lead</h3>
            </div>
            <hr />
        </div>
        <div class="flex-display-column align-items-center">
            <span>
                <img src="../../resources/images/aaditya_chokshi.jpg" height="200px" width="150px"
                    class="img-fluid img-responsive">
            </span>
            <br />
            <div id="description">
                <h4 style="overflow: auto; height: 80px;">
                    I am an international student from India and the front end lead for the CSC 848 team 2. I am
                    passionate about music, and
                    love to play badminton. I am a fairly outgoing and a fun person.
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}