{% extends 'index.html' %}
{% block head %}
        <link rel="stylesheet" href="../../resources/css/about_david.css">
{% endblock %}

{% block body %}
        <div class="section-intro">
        <div class="w3-row" text-center>
                <h2>David Chung</h2>
                <h1>Front End Developer</h1>

                <div class="intro-info">
                        <img src="../../resources/images/profile_david.JPG" alt="Profile Picture">
                </div>

                <div class="w3-col m6 w3-hide-small w3-padding-large">
                <br><br><br>
                <p style="text-align:center">I am currently in my last semester as a Computer Science student at San Francisco State.
                        The majority of my experience has been working with Amazon Web Services. The dream someday is to create something that genuinely increases the quality of life for us as a society!
                        I love watching football, going snowboarding, and from time to time fishing. Thanks for stopping by! 
                </p>

                <div class="media w3-center">
                        <a class="btn" href="https://github.com/davidchungdev">
                        <i class="fa fa-github-square" style="font-size:32px"></i>
                        </a>

                        <a class="btn" href="https://www.linkedin.com/in/davidchung93">
                        <i class="fa fa-linkedin" style="font-size:32px"></i>
                        </a>
                </div>
        </div>
{% endblock %}