{% extends 'index.html' %}
{% block head %}
        <link rel="stylesheet" href="../../resources/css/about_adam.css">
{% endblock %}

{% block body %}
    <br><br><br>
        <div id="content">
            <div class="content_half_vertical" style="text-align: center;">
              <p id="about_title">About Me: Adam Bea</p>
              <p id="about_subtitle">Team Role: Backend Engineer</p>
	      <p id="about_quote">
		<i><q class = "center_text">He that breaks a thing to find out what it is has left the path of wisdom.</q></i>
		    <br> J.R.R. Tolkien, <i>The Fellowship of the Ring</i>
	      </p>
            </div>
    
            <div class="content_half_vertical" id="content_body">
                <div class="content_half_horizontal">
                  <img src="https://i.imgur.com/o6dZkUP.jpg">
                </div>
                <div class="content_half_horizontal">
		  <p>
		    Hello, my name is Adam Bea and I am a Computer Science major in my final year at San Francisco State University. Computer science and software development
	            offers me a space to not only think critically and colloboratively, but also create and deliver a real-world products with potential for important applications.
		    Although my senior year at San Francisco State has given me plenty of work to do, in my spare time I like to work on projects involving procedural generation or
                    game development.
		  </p>    
                </div>
            </div>
        </div>
{% endblock %}