{% extends 'index.html' %}
{% block head %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block body %}
     <div class="w3-row">
         <div class="w3-col s12 m12 l12 w3-center">
             <p><big>
                 ABOUT CHRISTOPHER SMITH
                 <br><font color="blue">Allow me to Introduce Myself</font><br>
             </big></p>
         </div>

         <div class="w3-col s12 m12 l4 w3-center">
             <p>
                 <br><img src="../../resources/images/chris_final.jpg" class="w3-round">
             </p>
         </div>

         <div class="w3-col s12 m12 l8 w3-center w3-padding-large">
             <p>
                 Hi! My name is Christopher Smith. I'm a senior computer science
					student at San Francisco State University. Although I started as
					an engineering major, working in databases with the College of
					Science and Engineering	showed me all the possibilities a career
					in computer science could offer.
                    <br><br>After that, the switch was easy.
					I now spend my time polishing my coding skills, writing applications
					and playing video games. I'm also an experienced game developer with
					a couple finished titles under my belt.
                 <br><br> You can see my finished work <a href="https://busted-clock.itch.io/"><font color="blue">HERE</font></a>
                    <br> And follow my current projects <a href="https://twitter.com/SmithManC/"><font color="blue">HERE</font></a>
             </p>
         </div>

         <div class="w3-col s12 m12 l12 w3-center">
             <p><big>
                 <br>Team Role: Backend Developer<br>
                 <b><a href="https://www.linkedin.com/in/christopher-smith-62b608a5/"><i class="fa fa-user w3-margin-right"></i>LinkedIn</a></b>
             </big></p>
         </div>
     </div>

{% endblock %}
