{% extends 'index.html' %}
{% block body %}
<br>
<div class="w3-content w3-container w3-padding-64" align="center">
    <h3 class="w3-center" >Kam Khai</h3>
    <h4 class="w3-center">Team Role: Full Stack Engineer / Github Master</h4>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <p>
                <b>
                    <a class="btn" href="https://github.com/patkhai"  target="_blank">
                        <i class="fa fa-github-square" style="font-size:32px"></i>
                    </a>
                    <a class="btn" href="https://linkedin.com/in/patrick-khai"  target="_blank">
                        <i class="fa fa-linkedin-square" style="font-size:32px"></i>
                    </a>
                </b>
            </p>
            <img src="../../resources/images/profile2.jpg" class="w3-round w3-image w3-opacity w3-hover-opacity-off" alt="Photo of Me" width="300" height="300" style="border-radius: 30px;">
        </div>
        <div class="w3-col m6 w3-hide-small w3-padding-large">
            <br>
           <p style="text-align:center">I am a Computer Engineering student at San Francisco State University. Following my passion as an Software Engineer and UX/UI Designer.
            I have quite a number of experiences in designing, implementing mobile applications and work with backend infrastructure. I hope to make everyone lives easier through technology.
               I love to watch anime and play League of Legends from time to time.
           </p>
            <br>
        </div>
    </div>
</div>
{% endblock %}

