{% extends 'index.html' %}

{% block body %}
<br>
<div class="contain">
	<h2>
		<span>Momo</span>
		<span>Sun</span>
	</h2>
	<div class="row">
		<image src="../../resources/images/momo.JPG" class="rounded float-left me_image" width="520" height="345"></image>

		<div class="col-sm-6">
			<h5>Front-end Developer</h5>

			<div class="content">
				<p> Hi, this is Momo. I am an international student from China. This is my senior year
					in San Francisco State University. I am very passionate about new challenges, probably
					that's reason why I pick Computer Science as a major.
					My biggest goal is to build something that can benefit everybody in the future. During my spare
					time, I am a huge fan of outdoor activities, such as camping, hiking, skiing
					and photographing. Thanks for visiting my page. Cheers!
				</p>
				<a class="btn">
					<i class="fa fa-github-square" style="font-size:32px"></i>
				</a>
				<a class="btn">
					<i class="fa fa-facebook-square" style="font-size:32px;"></i>
				</a>
				<a class="btn">
					<i class="fa fa-instagram" style="font-size:32px;"></i>
				</a>
				<a class="btn">
					<i class="fa fa-twitter" style="font-size:32px"></i>
				</a>
				<a class="btn">
					<i class="fa fa-youtube" style="font-size:32px"></i>
				</a>
				<br><br>
			</div>
		</div>
	</div>
</div>

{% endblock %}