{% extends 'index.html' %}
{% block head %}
<link rel="stylesheet" href="../resources/css/about_page.css">
{% endblock %}
{% block body %}
        <div id="content" class="col-xs-12 col-md-10 col-sm-12" style="margin-top: 80px">

            <div class="content_half_vertical" style="text-align: center;">
              <h2 id="about_title">Sean Darryanto</h2>
              <h3 id="about_subtitle">Tech Lead</h3>
            </div>
    
            <div class="content_half_vertical">
                <div class="content_half_horizontal col-10 col-lg-3 row" style="height: auto">
                  <img src="../../resources/images/sdarryanto.jpg" style="width: 100%">
                </div>
                <div class="content_half_horizontal col-10 col-lg-12 row">
                    <p>
                        Hi! I'm Sean. I'm a computer science student at SFSU with a mission of uplifting and empowering other
                        San Francisco State University students. I started my university experience at a community college
                        and understand the difficulty of getting into the industry. Some of my interests include rock climbing,
                        jogging, riding my motorcycle and sleeping. Feel free to reach out!
                    </p>

                    <div class="media">
                        <a class="btn" href="https://github.com/theseanathan">
                            <i class="fa fa-github-square" style="font-size:32px"></i>
                        </a>
                        <a class="btn" href="https://instagram.com/theseanathan">
                            <i class="fa fa-instagram" style="font-size:32px;"></i>
                        </a>
                        <a class="btn" href="https://www.linkedin.com/in/sdarryanto">
                            <i class="fa fa-linkedin" style="font-size:32px"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
